Repository Coding-Crew-Forever/Coding-Test-Study, pull requests merged in 2024-05, with the labels that each got.

#28 [2024년 5월 첫째주] youbbin/algorithm
  youbbin/PGS_70129.java
Labels: Java

#29 [2024년 5월 첫째주] julia8024/algorithm
  julia8024/PGS_132265.py
Labels: Python

#30 [2024년 5월 첫째주]chaeryeon823/algorithm
  chaeryeon823/PGS_12909.py
  chaeryeon823/PGS_12939.py
  chaeryeon823/PGS_12941.py
Labels: Python

#31 [2024년 5월 첫째주] ahma0/algorithm
  ahma0/PGS_59409.sql
Labels: SQL

#32 [2024년 5월 첫째주] hh830/algorithm
  hh830/BOJ_19941.java
Labels: Java

#34 [2024년 5월 둘째주] chaeryeon823/algorithm
  chaeryeon823/PGS_12911.py
  chaeryeon823/PGS_12924.py
  chaeryeon823/PGS_12941.py
  chaeryeon823/PGS_12945.py
  chaeryeon823/PGS_12951.py
  chaeryeon823/PGS_12973.py
  chaeryeon823/PGS_12980.py
  chaeryeon823/PGS_42746.py
  chaeryeon823/PGS_42842.py
  chaeryeon823/PGS_70129.py
Labels: Python

#33 [2024년 5월 둘째주] hh830/algorithm
  hh830/BOJ_13549.java
  hh830/BOJ_15989.java
  hh830/BOJ_2607.java
Labels: Java

#35 [2024년 5월 셋째주] chaeryeon823/algorithm
  chaeryeon823/PGS_12953.py
  chaeryeon823/PGS_12985.py
  chaeryeon823/PGS_42885.py
Labels: Python

#36 [2024년 5월 셋째주] youbbin/algorithm
  youbbin/BOJ_2108.java
Labels: Java

#38 [2024년 5월 셋째주] hh830/algorithm
  hh830/BOJ_12919.java
  hh830/BOJ_20437.java
Labels: Java

#40 [2024년 5월 넷째주] julia8024/algorithm
  julia8024/PGS_42883.py
Labels: Python

#41 [2024년 5월 넷째주] ahma0/algorithm
  ahma0/PGS_12911.java
Labels: Java

#42 [2024년 5월 넷째주] hh830/algorithm
  hh830/BOJ_20006.java
Labels: Java

#43 [2024년 5월 넷째주] chaeryeon823/algorithm
  chaeryeon823/PGS_131127.py
  chaeryeon823/PGS_17677.py
  chaeryeon823/PGS_17680.py
  chaeryeon823/PGS_42578.py
  chaeryeon823/PGS_42586.py
  chaeryeon823/PGS_42587.py
  chaeryeon823/PGS_64065.py
  chaeryeon823/PGS_87390.py
Labels: Python
